body {
  Background-color: Black;
  font-family: Verdana;

}
h1{
  color: White;
  text-align: Center;
  font-size: 50px;
  font-weight: Normal;
}
a {
  color: Aquamarine;
  font-size: 16px;
  display: block;
  text-align: center;
}
p{
  font-size: 21px
  color: Gray;
}

.footer{
  text-align: right;
  color: Gray;
}

img,
video {
  display: block;
  margin: 0 auto;
}
